{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center">Educational Resources</h1>
    <p class="text-center">Understand the criminal justice system and learn how to protect your rights as a citizen.</p>

    <div class="row">
        <div class="col-md-6">
            <h3>Criminal Justice System</h3>
            <ul>
                <li><a href="https://www.old.lawjusticediv.gov.bd" target="_blank">Office of Justice Programs</a></li>
                <li><a href="https://www.criminaldefenseattorneys.org" target="_blank">Criminal Defense Education</a></li>
            </ul>
        </div>

        <div class="col-md-6">
            <h3>Victim Rights</h3>
            <ul>
                <li><a href="https://www.dmp.gov.bd/victim-support" target="_blank">National Center for Victims of Crime</a></li>
                <li><a href="https://www.nsvrc.org" target="_blank">National Sexual Violence Resource Center</a></li>
            </ul>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <h3>Legal Education</h3>
            <p>Learn about your legal rights and responsibilities, as well as how to navigate the legal system if needed.</p>
            <ul>
                <li><a href="https://www.blast.org.bd" target="_blank">LawHelp.org - Legal Aid Resources</a></li>
                <li><a href="https://www.supremecourt.gov.bd/web/indexn.php?page=legal_aid.php&menu=10&lang=" target="_blank">LegalZoom - Legal Resources</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
