{% extends 'base.html' %}

{% block content %}


{% if error %}
    <div class="alert alert-danger">
        {{ error }}
    </div>
{% endif %}

<div class="container bg-black text-red p-4 rounded">
    <!-- Law Enforcement Integration Section -->
    <h1 class="text-center text-red">Law Enforcement Integration</h1>
    <p class="text-center">Collaborate with law enforcement agencies to manage and analyze crime data.</p>
        
    <div class="col-mt-4 bg-black">
        <!-- Important Contacts Section -->
        <h3 class="text-red">Important Contacts</h3>
        <p>Here are the key law enforcement agency contacts in Bangladesh:</p>
        <ul class="list-group">
            <li class="list-group-item" style="background-color: black; color: red;">
                <strong>Bangladesh Police</strong>
                <button class="btn btn-danger btn-sm float-end" onclick="location.href='tel:+8801713377777'">Call Now</button>
                <br>Email: <a href="mailto:info@police.gov.bd" class="text-red">info@police.gov.bd</a>
            </li>
            <li class="list-group-item" style="background-color: black; color: red;">
                <strong>Rapid Action Battalion (RAB)</strong>
                <button class="btn btn-danger btn-sm float-end" onclick="location.href='tel:+8801777777777'">Call Now</button>
                <br>Email: <a href="mailto:info@rab.gov.bd" class="text-red">info@rab.gov.bd</a>
            </li>
            <li class="list-group-item" style="background-color: black; color: red;">
                <strong>Fire Service & Civil Defence</strong>
                <button class="btn btn-danger btn-sm float-end" onclick="location.href='tel:199'">Call Now</button>
                <br>Email: <a href="mailto:info@fireservice.gov.bd" class="text-red">info@fireservice.gov.bd</a>
            </li>
            <li class="list-group-item" style="background-color: black; color: red;">
                <strong>National Emergency Number</strong>
                <button class="btn btn-danger btn-sm float-end" onclick="location.href='tel:999'">Call Now</button>
                <br>
            </li>
        </ul>
    </div>
    
    <!-- Other Resources Section -->
    <div class="row mt-4 bg-black">
        <div class="col-12">
            <h3 class="text-red">Other Resources</h3>
            <ul class="list-group">
                <li class="list-group-item" style="background-color: black; color: red;">
                    <strong>Cyber Crime Unit</strong>
                    <button class="btn btn-danger btn-sm float-end" onclick="location.href='mailto:cybercrime@police.gov.bd'">Email</button>
                    <br>Website: <a href="https://www.police.gov.bd/cyber-crime-unit" class="text-red">Visit Website</a>
                </li>
                <li class="list-group-item" style="background-color: black; color: red;">
                    <strong>Bangladesh Legal Aid Services</strong>
                    <button class="btn btn-danger btn-sm float-end" onclick="location.href='mailto:info@bls.org.bd'">Email</button>
                    <br>Website: <a href="https://www.blast.org.bd" class="text-red">Visit Website</a>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
